* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 100px 1fr;
  height: 100vh;
  gap: 3px;
}

.header {
  padding: 15px;
  background-color: #d4a373;
  color: #ecfeff;
  font-size: 45px;
  text-transform: uppercase;
  grid-column: 1 / -1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidebar {
  grid-column: 1 / 2;
  background-color: #e9edc9;
  color: #333333;
  border-radius: 10px;
  padding: 15px;
  margin: 5px;
}

.sidebar div {
  margin: 10px;
}

.form-row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.sidebar input[type='text'] {
  width: 60%;
  background-color: #ffffff;
  border: 1px solid #d4d4d4;
}

.sidebar input[type='checkbox'] {
  align-self: flex-start;
}

.sidebar button {
  flex: 1;
  width: 80%;
  font-size: 18px;
  padding: 16px;
  background-color: #0ea5e9;
  color: white;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 10px;
}

.sidebar button:hover {
  background-color: #3bb1e7;
}

.display {
  grid-column: 2 / -1;
  background-color: #e9edc9;
  color: #333333;
  padding: 15px;
  margin: 5px;
  border-radius: 10px;
}

.display h3 {
  margin-bottom: 15px;
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.book {
  background-color: #ffffff;
  padding: 10px;
  height: 110px;
  border-radius: 15px;
  box-shadow: 0 2px 5px #737373;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.book button {
  flex: 1;
  width: 80%;
  align-self: center;
  background-color: #0ea5e9;
  color: white;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 10px;
  margin: 3px;
  padding: 3px;
}

.book button:hover {
  background-color: #3bb1e7;
}
